.home-div-main {
    text-align: center;
    width: 100%;
    border-bottom: 1px black solid;
}

.home-div-sub {
    padding-bottom: 2%;
    padding-top: 2%;
}

.home-div-list {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: ghostwhite;
    border: 1px solid #ddd;
    margin-bottom: 1%;
}

.home-div-heading h3,
h1 {
    margin-block-start: unset;
    margin-block-end: unset;
}

.home-div-heading img {
    align-content: left
}

#jumbotron-changes {
    background-color: #282c34;
    color: white;
}


/*  */


/* Tags */

button {
    cursor: pointer;
    border: unset;
    background-color: unset;
}