/* Classes */

.flex-display-div {
    display: flex;
    justify-content: space-between;
}

.flex-display-ul {
    display: flex;
    align-self: flex-end;
}

.navigation-div {
    /* padding-top: 1%; */
    width: 100%;
}

.header {
    /* background-color: ghostwhite; */
}

.logo {
    height: 56px;
    overflow: hidden;
    text-align: left;
    width: 56px;
}

.u-nowrap {
    white-space: nowrap;
}

.navigation-header {
    border-bottom: 1px black solid;
    padding-left: 2rem;
    padding-right: 2rem;
    /* background-color: ghostwhite; */
}

.li-spacing {
    padding-right: 30%;
}

.b-spacing {
    padding-right: 2%;
}

.link-div {
    float: right;
    margin-right: 5%;
}

.navigation-link {
    background-color: white;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
}

.img-fluid {
    max-height: 0.5%;
}

.logoWrapper {
    height: 60px;
}

.u-vAlignTop {
    vertical-align: top;
}

.u-inline li {
    display: inline;
    /* padding: 2% */
}

.u-inlineBlock {
    display: inline-block;
}

.u-padding-unset {
    padding-inline-start: unset;
}


/* ID */

#bootstrap-overrides div {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* Tags */

li {
    list-style-type: none;
}

img,
b {
    color: white;
    flex-direction: row;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border: 0.5px lightgrey solid;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}